.navigasi{
	background-color: lightblue;
	font-family: arial;
}
body{
	margin-right: 200px;
	margin-left: 200px;
}
header{
	padding: 20px;
}
header ul li{
	display: inline-block;
	margin-right: 10px;
}
h1{
	font-family: arial;
}
h2{
	font-family: arial;
}
h3{
	font-family: arial;
}
p{
	font-family: arial;
}